* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}


body {

    font-family: "Noto Sans Mono", serif;

}

h1 {

    color: lightgray;

    font-size: 2rem;

}


ol {

    margin: 3rem;

}


/* Header */

header {

    text-align: center;

    padding: 1rem;

}


.logo {

    font-size: 3rem;

}


/* Main */

.add_ingredient_form {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 1rem;

}


.add_ingredient_form input {

    padding: 1rem;

    border: none;

    background-color: #f8f8f8;

    border-radius: 15px;

}


.add_ingredient_form button {

    background-color: #72ccec;

    border: none;

    border-radius: 10px;

    padding: 10px;

    display: flex;

    cursor: pointer;

}


.add_ingredient_form button img {

    width: 20px;

}


/* UseState */

/* .use_state {

    display: flex;

    align-items: center;

    justify-content: center;

    width: 20%;

    margin: 1rem auto;

}


.use_state h2,
.use_state_two h2 {

    border: 1px solid #72ccec;

    background-color: #72cfec2f;

    padding: 1rem;

    border-radius: 10px;

}


.use_state span,
.use_state_two span {

    text-align: center;

    cursor: pointer;

    font-size: 35px;

    margin: 10px;

}


.use_state_two {

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    width: 20%;

    margin: 0 auto;

} */